<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

<body>
    <a [routerLink]="['/landingpage']" routerLinkActive="router-link-active">go back to shopping page. </a> 
    <div class="container page-top">
        <div class="row col-md-16">
            <div *ngFor="let photo of Photos" class="col-md-2">
                <img class="img-thumbnail" src={{photo.product_Image}} class="card-img-top " alt="ProductImage"
                    height=260px />
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">&#8377;{{photo.product_Price}}</li>
                </ul>
            </div>
        </div>
    </div>
</body>