
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/product" class="navbar-brand">Products</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/user/signin">Login</a></li>
          <li routerLinkActive="active"><a routerLink="/user/registration">Register Here</a></li>
        </ul>
<ul class="nav navbar-nav navbar-right">
    <li routerLinkActive="active"><a routerLink="/user/registration">Register Here</a>  </li> 

</ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown> 
                     <ul class="dropdown-menu" value="categories">  
             <li> offers  </li> 
             <li> category    </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
 



